body {
    min-height: auto;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: #0f336c;
    color: #fff;
  }
  
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  .wrapper{
    display: flex;
    width: 100%;
}
.content-wrapper{
    width: 100%;
    height: 350px;
    /* border-bottom: 2px solid #fff;
    border-right: 2px solid #fff; */
    padding: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin: 0px 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}
.select{
    width: 200px;
    height: 25px;
    font-size: 18px;
    border-radius: 5px;
}
.blocks{
    margin: 20px 0;
}
.content--ownership{}

.content--room{
    margin-left: 36px;
}
.content--area{
    margin-left: 137px;
}
.content--square{
    margin-left: 18px;
}


.data-wrapper{
    width: 100%;
    height: 300px;
    background: #fff;
    margin: 30px 0 0 0;
    /* padding: 30px 30px; */
}


.btn-search{
    
    width: 100px;
    height: 25px;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 20px;
}
.btn-reload{
    margin-left: 100px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

@media (max-width: 952px){
    .wrapper{
        flex-direction: column;
    }
    .content-wrapper, .data-wrapper{
        width: 100%;
    }
    
}
.wrapper-loadfile{
    display: flex;
    position: absolute;
    align-items: center;
}
    .visible-btn__load--file{
        width: 25px;
        height: 25px;
        background: url(icons/iconplus.png)50% 50%/cover no-repeat;
        margin: 10px 10px 0 10px;
        cursor: pointer;
    }
    .visible-btn__load--file_close{
        width: 25px;
        height: 25px;
        background: url(icons/iconplus.png)50% 50%/cover no-repeat;
        margin: 10px 10px 0 10px;
        cursor: pointer;
        transform: rotate(134deg);
        
    }
    .btn-load__file{
        display: none;
    }
    .btn-load__file--visible{
        display: block;
        padding: 10px 0 0 0;
    }



/* обёртка загрузчика */
.load__show{
    display: block;
}
.load__hide{
    display: none;
}
.loadfile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    background: rgba(0, 0, 0, 0.836);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}
.loadfile_content{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    background: #fff;
    position: relative;
    
}
.loadfile-loading{
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.loadfile-loading:hover{
    background: #3481fd;
    color: #fff;
    border: 1px solid #fff;
}

.loadfile-save{
    display: none;
    width: 120px;
    height: 30px;
    background: #fff;
    border: 1px solid #0d51be;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
}
.loadfile-save:hover{
    background: #3481fd;
    color: #fff;
    
}
.loadfile-close{
    width: 120px;
    height: 30px;
    background: #fff;
    border: 1px solid #000000;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
    position: absolute;
    top: 0;
    right: 0;
}
.loadfile-close:hover{
    background: #ff4444;
    color: #fff;
    border: 1px solid #fff;
    
}
.loadfile-input{
    width: 1px;
    position: absolute;
    display: none;
    z-index: 1;
    cursor: pointer;
    top: 0;
    left: 0;
}

.preview{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    margin: 50px 0 0 0;
    align-items: flex-start;
}
.preview--excel{
    margin: 0 25px 10px 0;
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    position: relative;
}
.preview--excel img{
    width: 50px;
    height: auto;
    margin: 0 10px 10px 0;
    align-items: center;
}
.preview--excel span{
    color: #000000;
    width: 50px;
    font-size: 12px;
    height: auto;
}
.preview--remove{
    width: 20px;
    height: 20px;
    position: absolute;
    right: -9px;
    top: -7px;
    opacity: 0;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
}
.preview--excel:hover .preview--remove{
    opacity: 1;
}

/* обёртка загрузчика */
.data-wrapper{
    color: black;
    
}
.data-base{
    /* border: 1px solid black; */
    border-collapse:collapse;
}
td,tr{
    border: 1px solid black; 
    padding: 5px 10px;
    margin: 0;
    background: #3481fd;
}








/* .content-form_dropdown-wrapper{
    width: auto;
    margin: 5px 20px;
    position: relative;
}
.content-form_dropdown-button{
    position: relative;
    display: block;
    width: 310px;
    height: 40px;
    text-align: left;
    background: #fff;
    border: 1px solid #7e9bbd;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px 0px 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    overflow: hidden;
    line-height: 30px;
}
.content-form_dropdown-button::after{
    content:'';
    width: 0;
    height: 0;
    border-width: 7.4px 5px 0 5px;
    border-color: rgb(73, 73, 73) transparent transparent transparent;
    border-style:solid;
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translate(-50%);
    vertical-align: sub;
    pointer-events: none;
}
.content-form_dropdown-list{
    position: absolute;
    left: 0;
    top: 74px;
    background: #fff;
    box-shadow: 0px 5px 9px rgba(176, 198, 225, 0.6);
    border-radius: 6px;
    width: 300px;
    z-index: 2;
    display: none;
    overflow: scroll;
    overflow-x:hidden;
    height: 150px;
}
.content-form_dropdown-list_item{
    width: 100%;
    overflow: hidden;
    padding: 5px 5px;
    border: 1px solid #7e9bbd;
    border-bottom: 0;
    transition: 0.3s all;  
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.content-form_dropdown-list_item:first-child{
    border-radius: 6px 6px 0 0;
}
.content-form_dropdown-list_item:last-child{
    border-bottom: 1px solid #7e9bbd;
    border-radius: 0 0 6px 6px;

}    
.content-form_dropdown-list_item:hover{
    cursor: pointer;
    background: rgba(176, 198, 225, 0.26);
}
.content-form_dropdown-list_input{
    display: none;
}
.content-form_dropdown-list--visible{
    display: block;
}

.content-form_dropdown-list::-webkit-scrollbar{
    width: 10px;
    background-color: #f9f9fd;
}
.content-form_dropdown-list::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #7e9bbd;
}



.content-form_dropdown-button--hide{
    display: none;
}
.content-form_dropdown-list_input--visible{
    display: block;
} */

